## Algorithm Workbench - 1

In [6]:
# Assigned list to X variable
x =['Einstein', 'Newton', 'Copernicus', 'Kepler']

# Displayed list
print(x)

['Einstein', 'Newton', 'Copernicus', 'Kepler']

## Algorithm Workbench - 3

In [4]:
# Created two lists
# numbers1 lists values 1-100
# numbers2 is an empty list
numbers1 = list(range(1,101)) 
numbers2 = []

# For loop appending elements from numbers1 to numbers2
for item in numbers1:
    numbers2.append(item)

# Displayed results
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

##

## Programming Exercise 1 - Total Sales

In [4]:
# Initializing variable
total_sales = 0 

# Creating for loop with a day range of 7
for day in range(7):

    # User value input for daily sales
    sales = float(input("Enter the sales for day: " + str(day + 1)))

    # Calculating total_sales
    total_sales += sales 

# Displaying results
print("The total for the week is: $" + str(total_sales))

Enter the sales for day: 1 12
Enter the sales for day: 2 22
Enter the sales for day: 3 3
Enter the sales for day: 4 2
Enter the sales for day: 5 2
Enter the sales for day: 6 22
Enter the sales for day: 7 3

The total for the week is: $66.0

## Programming Exercise - 14

## Programming Exercise - X

## Programming Exercise - X